:root {
	--white: #22aabb;
	--black: #333333;
	--yellow: #e09088;
}

body {
	background: var(--black);
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.charging {
	align-items: center;
	color: var(--yellow);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.charging p {
	font-family: sans-serif;
	font-size: 72px;
	font-weight: bold;
	margin: 0 auto;
}

.pulsing {
	animation: pulse 2s infinite, gravity cubic-bezier(0, 0.09, 0.71, -.1) 2.5s 1;
	position: absolute;
	transform: rotate(var(--rotate));
	transform-origin:  center center;
}

.pulsing:before {
	background:  url(spark.gif);
	background-position:  center center;
	background-repeat:  no-repeat;
	background-size: contain;
	content:  "";
	height:  100%;
	left: 0;
	position: absolute;
	top: 0;
	width:  100%;
}

@keyframes pulse {
	0% {
		height: calc(2vw * (1 + var(--intensity)));
		width: calc(2vw * (1 + var(--intensity)));
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity))/10);
	}
	10% {
		height: calc(4vw * (1 + var(--intensity)));
		width: calc(4vw * (1 + var(--intensity)));
		margin-left: calc((-2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	15% {
		height: calc(4.4vw * (1 + var(--intensity)));
		width: calc(4.4vw * (1 + var(--intensity)));
		margin-left: calc((-2.2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2.2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	25% {
		height: calc(2vw * (1 + var(--intensity)));
		width: calc(2vw * (1 + var(--intensity)));
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity))/10);
	}
	50% {
		height: calc(4.4vw * (1 + var(--intensity)));
		width: calc(4.4vw * (1 + var(--intensity)));
		margin-left: calc((-2.2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2.2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	55% {
		height: calc(4vw * (1 + var(--intensity)));
		width: calc(4vw * (1 + var(--intensity)));
		margin-left: calc((-2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	65% {
		height: calc(2vw * (1 + var(--intensity)));
		width: calc(2vw * (1 + var(--intensity)));
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity))/10);
	}
	80% {
		height: calc(4vw * (1 + var(--intensity)));
		width: calc(4vw * (1 + var(--intensity)));
		margin-left: calc((-2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	85% {
		height: calc(4.4vw * (1 + var(--intensity)));
		width: calc(4.4vw * (1 + var(--intensity)));
		margin-left: calc((-2.2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2.2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	95% {
		height: calc(4vw * (1 + var(--intensity)));
		width: calc(4vw * (1 + var(--intensity)));
		margin-left: calc((-2vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-2vw + var(--top)) * (1 + var(--intensity))/10);
	}
	100% {
		height: calc(2vw * (1 + var(--intensity)));
		width: calc(2vw * (1 + var(--intensity)));
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity))/10);
	}
}

@keyframes gravity {
	0% {
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity)));
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity)));
	}
	15% {
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity)));
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity)));
	}
	100% {
		margin-left: calc((-1vw + var(--left)) * (1 + var(--intensity))/10);
		margin-top: calc((-1vw + var(--top)) * (1 + var(--intensity))/10);
	}
}